/* Imports */
@import '/css/modal.css';

/* Reset */
body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

/* Standard */
body {
    background: #FAF6ED;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

/* Menu */
.menu {
    grid-column: 1/5;
    background: #FB5;
}

.menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* Grid */
.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Site Title */
.titulo {
    font-family: Georgia, serif;
    font-size: 5rem;
    line-height: 1.1em;
    font-weight: 600;
    grid-column: 1 / 4;
    text-align: center;
    text-transform: uppercase;
}

/* Title Description */
.animais h3 {
    grid-column: 1/4;
    margin-top: -5px;
    margin-bottom: 3rem;
    color: #E54;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 1.2rem;
}

/* Animals List Title */
.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

/* Animals Description */
.animais {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

/* Animals Photo List */
.animais-lista {
    height: 400px;
    overflow-y: scroll;
    grid-column: 2;
    margin-left: -100px;
}

.animais-lista li {
    cursor: pointer
}

/* Animals Photo Scrollbar Customization */
.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #FAF6ED;
    border-right: 4px solid #FAF6ED;
}

.animais-lista::-webkit-scrollbar-track {
    background: #FAF6ED;
}

/* Animals Description */
.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

/* FAQ Area */
.faq-lista {
    grid-column: 2 / 4;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
}

.faq-lista dt:first-child {
    margin-top: 0.5rem;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #FB5;
    margin-right: 10px;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

/* Contact Area */
.mapa {
    grid-column: 2;
    margin-top: 0.5rem;
}

.dados {
    grid-column: 3;
    margin-top: 0.5rem;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

/* Footer Area */
.copy {
    grid-column: 1 / 5;
    background-color: #FB5;
}

.copy p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* JavaScript Classes */
/* Navigation by Tabs */
.js [data-tab="content"] section {
    display: none;
    animation: show 0.5s forwards;
}

[data-tab="content"] section.active-tab {
    display: block !important;
}

/* Tab Menu Nav Animation */
@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Accordion List */
.js [data-anime="accordion"] dd {
    display: none;
}

[data-anime="accordion"] dt::after {
    content: '▼';
    margin-left: 10px;
}

[data-anime="accordion"] dt.active::after {
    content: '▲';
}

[data-anime="accordion"] dd.active {
    display: block;
    animation: slideDown 0.5s forwards;
}

/* Animate at item on screen */
.js [data-anime="scroll"] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: 0.5s;
}

.js [data-anime="scroll"].activate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Accordion Animation */
@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0px;
    }
    to {
        max-height: 200px;
        transform: translate3d(0, 0, 0);
    }
}

/* Responsivity */
@media (max-width: 700px) {
    /* Standard */
    .grid-container {
        grid-template-columns: 1fr;
    }

    /* All */
    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .grid-section h1 {
        font-size: 2rem;
    }

    /* Animals Section */
    .animais-lista {
        grid-column: 1;
    }

    .animais h3 {
        font-size: 0.9rem;
    }

    /* FAQ Area */
    .faq-lista, .dados, .mapa {
        grid-column: 1 / 3;
    }
}